@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    margin: 32px 120px;
}
input, ul, li, h2{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    list-style: none;
}
h2::selection,
a::selection,
p::selection,
input::selection {
    background:#9f9f9f80;
}
img::selection,
.toolbar-button-icon p::selection {
    background-color: #ffffff00;
}
.button {
    display: inline-block;
    border-radius: 5px; 
    font-size: 20px;       
    text-align: center;      
    cursor: pointer;    
    padding: 10px 20px;   
    background: #FFB827;    
    color: #ffffff;   
    transition: .3s;      
    border: 2px solid #FFB827;    
    margin: 0 0 0 auto;
}
.button:hover {
    color: #FFB827;  
    background: #ffffff;  
}
/* カスタムコード
.intr-button1 {
    background: #373A40;
    border: 2px solid #373A40;
    font-weight: bold;
}
.intr-button1:hover {
    color: #373A40;  
}
*/
.logo img{
    height: 56px;
    width: auto;
}
.user img {
    height: 10px;
    width: auto;
    margin-left: 8px;
}
.user h2 {
    font-size: 18px;
}
.user {
    align-items: center;
    display:flex;
    position:absolute; 
    /* absoluteはimgタグではなく親要素のdivに追加する */
    right: 0;
    text-decoration: none;
    color: black;
    transition: 0.4s;
    justify-content: center; /* 要素を水平方向に中央揃え */
    align-items: center; /* 要素を垂直方向に中央揃え */

} 

.header {
    display: flex;
    align-items: center;
    position:relative;
    z-index: 10;
}
.box {
    background: #D9D9D9;
    width: 100%;
    aspect-ratio: 7 / 3;    
}
.intr {
    display: inline-block;
    vertical-align: middle;
    margin-left: 152px; /* wrapper margin(120px) + 追加のマージン(32px) */
}
.intr h1 {
    font-size: 64px;
    margin: 48px 0 0 0;
}
.intr p {
    font-size: 28px;
    font-weight: bold;
    color: #7E8083;
}
.intr-button1 {
    background: #373A40;
    border: 2px solid #373A40;
    font-weight: bold;
}
.intr-button1:hover {
    color: #373A40;
}
.intr-button2 {
    background: #F6AE2D;
    border: 2px solid #F6AE2D;    
    font-weight: bold;
}
.intr-button2:hover {
    color: #F6AE2D;  
}

.menu{
    background-color: white;
    border-radius: 5px;
    padding: 0 16px;
    position: absolute;
    right: 84.5px;
    margin-top: -32px;
    border: solid 1px #b6b6b6;
    z-index: 20;
}
/* .menu:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom: 5px solid #b6b6b6;
} */
.user:hover {
    opacity: 0.5;
}
.signin-menu:hover, .signup-menu:hover {
    opacity: 0.5;
}
.menu p{
    font-weight:bold;
    color: black;
    margin-left: 16px;
}
.signin-menu, .signup-menu {
    display: flex;
    text-decoration: none;
}
.signin-menu {
    margin-bottom: -16px;
}
.signup-menu {
    margin-top: -16px;
}
.menu {
    position: absolute;
    z-index: 20;
}

/* ======= */

.signin-page {
    margin: 120px auto;
    margin-bottom: 0;
    border-radius: 20px;
    width: 781px;
    height: auto;
    padding: 48px 0;
    padding-left: 32px;
    border: solid 2px #bdbdbd;
    display: flex;
    align-items: center;
}
.signin-page img {
    width: 180px;
    height: 171px;
    margin: 0 36px;
}
.border {
    width: 2px;
    background:#E6E6E6;
    margin: 0 20px;
}
#signin .border  {
    height: 180px;
}
#signup .border {
    height: 240px;
}
.signin-page-form {
    margin-left: 20px;

}
.signin-page h2 {
    font-size: 20px;
    color: #565656;
}
.text {
    width: 366px;
    height:auto;
    border: solid 1px #FFB827;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #565656;
}
.signin-button-div {
    display: flex;
    align-items: center;
}
.error-massage {
    color: #bd3f3f;
    margin: 16px auto;
    height: 32px;
    text-align: center;
}

/* ======= */
.folder-box {
    position: relative;
    background-color: #D9D9D9;
    max-width: 75%;
    width: auto;
    height: auto;
    float: left;
    padding: 16px;
    border-radius: 8px;
    margin: 32px 64px;
    z-index: 1;
    /* margin: 32px 0 32px 64px; */
}
.folder-box-div {
    margin-top: 4px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    
}
.folder-litter {
    width: 150px;
    height: auto;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: contain;
    margin: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    flex-shrink: 0; /* 幅を超えて縮まないように */
}
.folder-litter p, a{
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding:0;
    margin: 0;
}
.folder-litter p {
    margin: 12px 0 48px 8px;
}
.folder-litter a {
    margin-left: 6px;
}
.folder-litter img {
    margin-left: 8px;
    width: 16px;
}
.folder-litter div {
    display: flex;
}
.folder-box h2 {
    margin-left: 8px;
}

.user-main {
    display: flex;
    position: relative;
    z-index: 1;

}
.toolbar {
    margin: 32px 48px;
    width: 15%;
}
.toolbar-button {
    /* background-image: linear-gradient(#fff, #000); */
    background: #373A40;
    border: 2px solid #373A40;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    width: auto;
    padding: 16px;
    display: inline-block;
    transition: .3s;
    text-align: center;      
    cursor: pointer;
}
.toolbar-button:hover{
    color: #373A40;  
    background: #ffffff;  
}
.toolbar-button-icon svg {
    stroke: #ffffff;
    transition: .3s;
    cursor: pointer;
}
.toolbar-button:hover .toolbar-button-icon svg {
    stroke: #373A40;
}
.toolbar-button-icon {
    display: flex;
}
.toolbar-button-icon p {
    margin: 0;
    margin-left: 4px;
}
.create-menu{
    position: absolute;
    background-color: white;
    border-radius: 3px;
    padding: 0 16px;
    display: none;
    border: solid 1px #b6b6b6;
    margin: 32px 48px;
    z-index: 30;
}
.create-menu a{
    margin: 0;
    padding: 0;
    color: #373A40;
    font-weight: 100;
}
.create-folder {
    display: none;
    position: absolute;
}
.red p::selection,
.red a::selection {
    background-color:#832121;
    color:#fff;
}
.yellow p::selection,
.yellow a::selection {
    background: #d39700;
    color:#fff;
}
.blue p::selection,
.blue a::selection {
    background:#3798ff;
    color:#fff;
}
.green p::selection,
.green a::selection {
    background:#43b773;
    color:#fff;
}
.glay p::selection,
.glay a::selection {
    background:#636363;
    color:#fff;
}
