<div id="signin" class="signin-page wrapper">
    <img src="{{ url_for('static', filename='img/icon.svg') }}">
    <div class="border"></div> 
    <div class="signin-page-form">
        <h2>フォルダ内のURLを削除</h2>
        <form method="post">
                <ul>
                    <li><input type=text name=title  placeholder="Title" class="text"></li>
                    <li>
                        <select name="url">
                        </select>
                    </li>
                </ul>
            <div class="signin-button-div">
                <input type="submit" value="Create" class="button">
            </div>
        </form>
    </div>
</div>
