{% extends "header.html" %}


{% block content %}
<div id="signin" class="signin-page wrapper">
    <img src="{{ url_for('static', filename='img/icon.svg') }}">
    <div class="border"></div> 
    <div class="signin-page-form">
        <h2>フォルダを削除</h2>
        <form method="post">
                <ul>
                    <li>
                        <select name="folder">
                        {% for folder in folders %}
                            <option value="{{ folder.folder_id }}">{{ folder.folder_name }}</option>
                        {% endfor %}
                        </select>
                    </li>
                </ul>
            <div class="signin-button-div">
                <input type="submit" value="Delete" class="button">
            </div>
        </form>
    </div>
</div>
{% endblock %}
