{% extends "header.html" %}

{% block content %}
<div id="signin" class="signin-page wrapper">
    <img src="{{ url_for('static', filename='img/icon.svg') }}">
    <div class="border"></div>
    <div class="signin-page-form">
        <h2>urlを保存</h2>
        <form method="post">
                <ul>
                    <li><input type=text name=name  placeholder="name" class="text"></li>
                    <li><input type=text name=url  placeholder="url" class="text"></li>
                    <li>
                        <select name="folder">
                            <option value="0">フォルダに保存しない</option>
                        {% for folder in folders %}
                            <option value="{{ folder.folder_id }}">{{ (folder.folder_name or 'No Folder') | replace('<br>', ' ') }}</option>
                        {% endfor %}
                        </select>
                    </li>
                </ul>
            <div class="signin-button-div">
                <a href="{{ url_for('add_url2') }}">URLをフォルダに保存する場合</a>
                <input type="submit" value="Add" class="button">
            </div>
        </form>
    </div>
</div>
{% endblock %}