{% extends "header.html" %}

{% block content %}
<div id="signin" class="signin-page wrapper">
    <img src="{{ url_for('static', filename='img/icon.svg') }}">
    <div class="border"></div>
    <div class="signin-page-form">
        <h2>urlを保存</h2>
        <form method="post">
                <ul>
                    <li><input type=text name=url  placeholder="url" class="text"></li>
                    <li>
                        <select name="folder">
                            {% for folder in folders %}
                            <option value="{{ folder.folder_id }}">{{ folder.folder_name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            <div class="signin-button-div">
                <input type="submit" value="Create" class="button">
            </div>
        </form>
    </div>
</div>


{% endblock %}