{% extends "header.html" %}

{% block content %}
    <main>
        <div class="folder_urls">
            <h1>{{ folder_name }}</h1>
            <table>
                <tr>
                    <th class="{{ color }}">名前</th>
                    <th class="{{ color }} url">url</th> 
                    <th class="{{ color }}">ドメイン名</th>
                </tr>
                {% for url in urls %}
                <tr>
                    <td>{{ url.url_name }}</td>
                    <td class="url"><div class="url-content"><a href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ url }}</a></div></td>
                    <td class="domain"><a href="http://{{ url.domain }}" target="_blank" rel="noopener noreferrer">{{ url.domain }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock %}
