{% extends "header.html" %}

{% block content %}
<div id="signin" class="signin-page wrapper">
    <img src="{{ url_for('static', filename='img/icon.svg') }}">
    <div class="border"></div>
    <div class="signin-page-form">
        <h2>colorを追加</h2>
        <form method="post">
                <ul>
                    <li><input type=text name=colorname placeholder="colorname" class="text"></li>
                </ul>
            <div class="signin-button-div">
                <p>ログインできない場合</p>
                <input type="submit" value="plus" class="button">
            </div>
        </form>
    </div>
</div>

<div class="error-massage">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>


{% endblock %}