{% extends "header.html" %}

{% block content %}

<div id="signup" class="signin-page wrapper">
    <img src="{{ url_for('static', filename='img/icon.svg') }}">
    <div class="border"></div>
    <div class="signin-page-form">
        <h2>アカウントを作成</h2>
        <form method="post">
            <ul>
                <li><input type=text name=username  placeholder="Username" class="text" required></li>
                <li><input type=text name=email  placeholder="Email" class="text" required></li>
                <li><input type=password name=password placeholder="Password" class="text" required></li>
            </ul>
            <div class="signin-button-div">
                <p>アカウントが作成できない場合</p>
                <input type="submit" value="Sign Up" class="button">
            </div>
        </form>
    </div>
</div>

<div class="error-massage">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

<!-- <div class="container mt-4">
    <h2>データの追加だけ行うページ</h2>
    <form action="/signup" method="POST">
        <button type="submit" class="btn btn-primary">従業員追加</button>
    </form>
</div> -->
{% endblock %}