{% extends "header.html" %}

{% block content %}

<!-- 
    <div class="folder-litter">
        <p>red</p>
        <div>
            <img src="{{ url_for('static', filename='img/link.svg') }}">
            <a>1</a>
        </div>
    </div>
-->
<script>
    fadeInOut(".toolbar-button", ".create-menu");
</script>

<main class="user-main">
    <div class="toolbar">
        <div class="toolbar-button">
            <div class="toolbar-button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>                
                <p>追加</p>
            </div>
        </div>
    </div>

    <div class="create-menu">
        <ul>
            <li class="create-folder-href">
                <a href="{{ url_for('create_folder') }}">フォルダを作成</a>
            </li>
            <li>
                <a href="{{ url_for('add_url') }}">URLを保存</a>
            </li>
            <li>
                <a href="{{ url_for('delete_folder') }}">フォルダを削除</a>
            </li>
        </ul>
    </div>

    <section class="folder-box">
        <h2>全てのフォルダ</h2>
        <div class="folder-box-div">
            <a href="{{ url_for('allurl') }}">
                <div class="folder-litter gray">
                    <div class="folder-title"><p>all urls</p></div>
                        <div class="folder-litter-div">
                            <img src="{{ url_for('static', filename='img/link.svg')}}">
                            <a class="folder-litter-div-a">{{ url_count }}</a>
                        </div>
                </div>    
            </a>
            {% for folder in folders %}
            <a href="{{ url_for('folder', folder_id=folder.folder_id, folder_name=folder.folder_name) }}">
                <div class="folder-litter {{ folder.folder_color.color }}">
                    <div class="folder-title"><p>{{ folder.folder_name | safe}}</p></div>
                        <div class="folder-litter-div">
                            <img src="{{ url_for('static', filename='img/link.svg')}}">
                            <a class="folder-litter-div-a">{{ folder.urls.all()|length }}</a>
                        </div>
                </div>    
            </a>
            {% endfor %}
        </div>
    </section>

</main>


{% endblock %}